/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --color-red-rgb: 221, 51, 85;
  --color-red: rgba(var(--color-red-rgb), 1);

}

/*********************************************
 * FONTS
 *********************************************/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolaz.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-Bold.ttf");
  font-weight: normal;
  font-style: bold;
}

.reveal {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal .slides section.with-code h1,
.reveal .slides section.with-code h2 {
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: unset;
  text-transform: unset;
  color: unset;
}

.reveal .slides h2 {
  text-align: left;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.reveal h2:after {
  position: absolute;
  content: "";
  display: block;
  width: 40%;
  border-bottom: 0.15em solid var(--color-red);
}

.reveal h1.sfeir-underline {
  position: relative;
}

.reveal h1.sfeir-underline:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 0.4em solid var(--color-red);
  transform: rotate(2deg);
  left: -40px;
  bottom: 0px;
  padding: 0 40px;
  z-index: -1;
}

/*********************************************
 * OTHER
 *********************************************/
section {
  display: flex!important;
  top: 0!important;
  height: calc(100% - 40px);
  flex-direction: column;
}

section.center {
  align-items: center;
  justify-content: center;
}

.reveal .talk-title {
  color: #ea951b;
  font-size: 1.6em;
}

cite {
  font-size: 0.5em;
}

.reveal .slides section:not(.center) {
  width: 100%;
}

.reveal .slides section[data-background] {
  color: white;
}

.speaker-name {
  margin: 1em;
}

.speaker-summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal .slides img.speaker-img {
  height: 6em;
  height: 6em;
  border-radius: 100%;
  margin: 1em;
  border: 3pt solid var(--color-red);
}

.twitter {
  color: #1da1f2;
}

.twitter::before {
  background: url("../assets/twitter_bird.svg") no-repeat;
  background-size: 1em 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  content: "";
  position: relative;
  vertical-align: middle;
}

.reveal .slides img {
  border: none;
  box-shadow: none;
}

.content {
  display: flex;
  height: 85%;
}

.content-list-item {
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.content-1,
.content-2 {
  flex: 1;
  padding: 1em;
}

.content-cattle {
  height: 11em;
  width: 11em;
  object-fit: cover;
}

.content-pets {
  height: 11em;
  width: 11em;
  object-fit: cover;
}

.reveal .slides .thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.reveal .slides .thumbnail img {
  margin: 1em;
  height: 3.5em;
}

.reveal blockquote {
  box-shadow: none;
  width: 100%;
}

.reveal {
  font-size: 32px;
}

.reveal pre {
  background-color: rgb(39, 40, 34);
  font-size: 0.75em;
}

split-view {
  height: 95%;
}

split-view.split-view-template--3-2 {
  grid-template-columns: 3fr 2fr;
}

section > web-term {
  height: calc(100% - 120px);
}

.content-list-item > ul {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
}

.content > ul li {
  list-style: none;
}

pre.code--small {
  font-size: 0.5em;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 600px;
  word-wrap: normal;
}

section:not(:first-child)::before {
  background-image: url("../assets/sfeir-logo-black.png");
  background-size: 100px 31px;
  display: inline-block;
  width: 100px;
  height: 31px;
  content: "";
  position: fixed;
  bottom: 5px;
  left: 10px;
}

section[data-background]:not(:first-child)::before {
  background-image: url("../assets/sfeir-logo-white.png");
}
